@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*Font family*/
*{
    font-family: 'Poppins', sans-serif;
    
}

.clearfix{
    clear: both;
}

/*-------------Nav-Menü--------------*/
header{
    margin: 0;
    height: 50px;
    border: 1px  #fff;
}

header nav li{
    text-align: center;
    float: right;
    display: inline;
    list-style: none;
    padding: 10px;
}

header a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    /*Effektdauer*/
    transition: 0.5s;
}

/*Unterstriche einblenden bei mouse Hover*/
header a:hover::after{
    width: 100%;
}

header a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
}

#validate {
    color: darkred;
    font-weight: bold;
}

/*-------------Footer--------------*/
footer{
    position: sticky;
    width: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px   #fff;
    text-align: center;
}

footer a{
    text-transform: uppercase;
    text-align: center;
    display: inline;
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

/*-------------Body--------------*/
body{
    height: 100vh;
    display: block;
    text-align: center;
    background-image: url(../images/quiz\ BG.jpg) ;
}

.content{
    min-height: 615px;
}

h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
}

h2{
    font-size: 24px;
    color: #fff; 
    text-align: center;
}

h3{
    font-size: 22px;
    font-weight: 700;
}

.Button{
    cursor:pointer;
    width: 100px;
    height: 40px;
    background-color:white;
    color: #555;
    border-radius: 30px;
    border-color: #163BA8;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-weight: 600;
   
}

.Button:hover{
    border: 1px solid white;
    background-color: #163BA8;
    color: white;
    transition: 1s;
}

/*---------------QUIZ-----------------------*/

#fragekarte{
    background-color: #fff;
    width: 700px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    border-radius: 10px;
}

#radioAntwort{
    display: none;
}

#radioAntwort:hover + #antwort{
    cursor: pointer;
    box-shadow: 1px #7b97ec;
}

#radioAntwort:checked + #antwort{
    background-color: #1f45b5;
}

#frage{
    color: #555;
    font-size: 24px;
    width: 500px;
    margin: auto;
}

#antwort{
    color: #fff;
    border-radius: 5px;
    background-color: #163BA8;
    font-size: 20px;
    padding: 10px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#korrekte_Antwort{
    border:2px solid yellow;
    color: white;
    font-size: 20px;
}

#antwort_gewaehlt_richtig{
    border:2px solid lightgreen;
    color: white;
    font-size: 20px;
}

#antwort_gewaehlt_falsch{
    border:2px solid tomato;
    color: white;
    font-size: 20px;
}