body {
    width: 40%;
    margin: auto;

}

h1 {
    text-align: center;
}

label {
    width: 100px;
    display: inline-block;
    clear: both;

}
fieldset{
    padding: 20px;
}

.eingabe {
    margin: 0 0 5px 0;
    height: 10px;
    width: 300px;
    size: 30px;
}

.ausgabe{
    margin-top: 20px;
    border: 1px solid #777;
    display: none;
    padding: 30px;
}