 * {
  background-color: #939393;
  color: #FFF;
  text-align: center;
}

h1 {
  color: #FFF;
  text-align: center;
  margin: 1.2em 1.2em 1.6em 1.2em;
}

#uebung {
  color: #FFF;
  min-width: 800px;
  text-align: center;
}

#indexlinks {
    width: 400px;
}

#indexlinks a {
    text-align: left;
}
